*.pyc
*.la
*.lo
*.loT
*.o
*.so
*~
tags
TAGS
Makefile.qmake
Makefile
Makefile.in
.deps
.libs
ABOUT-NLS
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
py-compile
ibus-*.tar.*
ibus.spec
ibus-1.0.pc
i386
x86_64

