[Desktop Entry]
Encoding=UTF-8
Name=IBus
GenericName=Intelligent Input Bus
Comment=Intellignent Input Bus
Exec=ibus-daemon --xim
Icon=ibus
Terminal=false
Type=Application
X-GNOME-Autostart-Phase=Panel
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-KDE-autostart-after=panel
