/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/candidatepanel.pyc
/engineabout.pyc
/gtkpanel.xml
/gtkpanel.xml.in
/handle.pyc
/i18n.pyc
/ibus-ui-gtk
/icon.pyc
/languagebar.pyc
/menu.pyc
/panel.pyc
/propitem.pyc
/so_locations
/tags
/toolitem.pyc
