/*.bak
/*.lo
/*.o
/*.orig
/*.pyc
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gtkpanel.xml
/gtkpanel.xml.in
/ibus-ui-gtk
/so_locations
/tags
