Source: ibus
Section: utils
Priority: optional
Maintainer: LI Daobing <lidaobing@debian.org>
Uploaders: Zhengpeng Hou <zhengpeng-hou@ubuntu.com>
Build-Depends: debhelper (>= 7),
 autotools-dev,
 autoconf,
 automake,
 dpatch,
 gobject-introspection (>= 0.6.9),
 intltool (>= 0.40.0),
 iso-codes,
 libdbus-glib-1-dev,
 libgconf2-dev,
 libgtk2.0-dev,
 libtool,
 python-support (>= 0.6),
 python-dev,
 python-gobject-dev,
 python-dbus (>= 0.83.0)
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/ibus/
Vcs-Bzr: lp:~lidaobing/ibus/ibus
Vcs-Browser: https://code.launchpad.net/~lidaobing/ibus/ibus

Package: ibus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-glade2,
 python-ibus (= ${source:Version}), python-xdg, librsvg2-common
Recommends: im-switch, ibus-gtk | ibus-qt4
Conflicts: ibus-anthy (<< 1.2),
 ibus-table (<< 1.2),
 ibus-pinyin (<< 1.2.99),
 ibus-m17n (<< 1.2.99),
 ibus-hangul (<< 1.2.99),
 ibus-chewing (<< 1.2.99)
Description: New input method framework using dbus
 IBus is an Intelligent Input Bus. It is a new input framework for Linux
 OS. It provides full featured and user friendly input method user interface.
 It also may help developers to develop input method easily.

Package: libibus2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: New input method framework using dbus
 IBus is an Intelligent Input Bus. It is a new input framework for Linux
 OS. It provides full featured and user friendly input method user interface.
 It also may help developers to develop input method easily.
 .
 libibus2 is the library of ibus.

Package: libibus-dev
Section: libdevel
Architecture: any
Depends: libibus2 (= ${binary:Version}), libglib2.0-dev, libdbus-1-dev, ${shlibs:Depends}, ${misc:Depends}
Description: New input method framework using dbus
 IBus is an Intelligent Input Bus. It is a new input framework for Linux
 OS. It provides full featured and user friendly input method user interface.
 It also may help developers to develop input method easily.
 .
 This package contains the header files and static libraries which is
 needed for developing the IBus applications.

Package: ibus-gtk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: New input method framework using dbus
 IBus is an Intelligent Input Bus. It is a new input framework for Linux
 OS. It provides full featured and user friendly input method user interface.
 It also may help developers to develop input method easily.
 .
 ibus-gtk is the GTK+ client of ibus, it provide a gtk-immodule for ibus.
 
Package: python-ibus
Section: python
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-gtk2, python-dbus (>= 0.83.0), iso-codes
Description: New input method framework using dbus
 IBus is an Intelligent Input Bus. It is a new input framework for Linux
 OS. It provides full featured and user friendly input method user interface.
 It also may help developers to develop input method easily.
 .
 python-ibus is the Python binding of ibus.
