/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/html
/html-build.stamp
/html.stamp
/ibus-decl-list.txt
/ibus-decl.txt
/ibus-docs.sgml
/ibus-sections.txt
/ibus-undeclared.txt
/ibus-undocumented.txt
/ibus-unused.txt
/ibus.args
/ibus.hierarchy
/ibus.interfaces
/ibus.prerequisites
/ibus.signals
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/setup.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl-build.stamp
/tmpl.stamp
/tmpl/*.bak
/tmpl/ibus-unused.sgml
/trim-build.stamp
/xml
