/*.bak
/*.lo
/*.o
/*.orig
/*.pyc
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ibus-setup
/ibus-setup.desktop
/so_locations
/tags
