/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/IBus-1.0.gir
/IBus-1.0.typelib
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ibusenumtypes.c
/ibusenumtypes.h
/ibusmarshalers.c
/ibusmarshalers.h
/ibusversion.h
/libibus-1.0.la
/so_locations
/stamp-ibusenumtypes.h
/stamp-ibusmarshalers.h
/tags
